@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    margin:0;
    background: #222;
    font-family: 'Josefin Sans', cursive;
}