<!DOCTYPE html>
<html>
   <head>
      title=pageTitle
   </head>
   <body>
   
   <!--div class="container">
      <video class="video-large" autoplay></video>
      <div class="users-container" id="users-container">
            <h4>Users</h4>
            <div id="users"></div>
      </div>
   <div-->
   <div id="root"></div>

   <!--script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script-->
   <script src="/socket.io/socket.io.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/cjs/react.development.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/cjs/react-dom.development.min.js"></script>  
   <script type="text/babel" src="./js/index.js"></script>

   </body>
</html>